.styckynav {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	display: flex;
    justify-content: space-between;
	top: 0;
	padding-left: 15%;
    padding-right: 15%;
    float: left;
	height: 90px;
	background-color: lightgray;
	align-items: center;
    margin-bottom: 38px;
}

.images {
	position: relative;
	width: 18px;
    height: 18px;
	margin-right: 3px;
	color: #1c35e7;
}